<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Task 1</title>
</head>
<body>
  <ol>

  <h2 id="links">Ссылки</h2>
    <li><a href="http://example.com/">абсолютная гиперссылка на главную страницу сайта example.com</a></li>
    <li><a href="https://example.com/">абсолютная на главную сайта example.com в протоколе https</a></li>
    <li><a href="ftp://example.com/myfile.zip"> ссылка на файл на сервере FTP без авторизации</a></li>
    <li><a href="ftp://user:password@example.com/myfile.zip">ссылка на файл на сервере FTP с авторизацией</a></li>
    <li><a href="https://ru.wikipedia.org/wiki/HTML#Браузеры">ссылка на фрагмент страницы некоторого сайта</a></li>
    <li><a href="#form">ссылка на фрагмент текущей страницы</a></li>
    <li><a href="http://shpargalkablog.ru/2016/09/url-parameters-js.html?a&b&cs">ссылка с двумя параметрами в URL</a></li>
    <li>список ссылок основной навигации сайта с подписями title</a>
    	<ol type= "a" start ="1">
    		<li><a href = #links" title ="First part of task">Links</a></li>
    		<li><a href="#form" title ="Second part of task"> Form</a></li>
    	</ol>
    </li>
    <li><a>ссылка без href</a></li>
    <li><a href="">ссылка с пустым href</a></li>
    <li><a href="https://www.youtube.com/watch?v=ZHajKLjYYog" rel="nofollow">ссылка, по которой запрещен переход поисковикам</a></li>
    <li><noindex><a href="http://example.com/">запрещенная для индексации поисковиками</a></noindex></li>
    <li><p>Контекстная ссылка в тексте абзаца на  <a href ="https://www.youtube.com/watch?v=mYkhNWIdra0"</a>прекрасную музыкальную композицию </p></li>
    <li><a href="http://webupblog.ru/kak-sdelat-kartinku-ssylkoj-v-html/">
    	<img src="https://media.istockphoto.com/vectors/click-button-with-hand-pointer-clicking-click-me-vector-web-button-vector-id1155230429" alt="Click me" title="link 14" width="150"></a>
    </li>
    <li>
    	<p><img src="http://htmlbook.ru/files/images/content/021_1.gif" width="411" heigh="46"  usemap="#map" alt="Navigation"></p>
    		<p><map name="map"> <area shape="poly" alt="Закладка 2" 
    coords="210,27, 203,9, 202,6, 197,2, 192,1, 120,1, 115,2, 110,6, 112,9, 119,27, 119,32, 211,32, 210,27" 
    href="https://ru.wikipedia.org/wiki/2_(%D1%87%D0%B8%D1%81%D0%BB%D0%BE)">
    <area shape="poly" alt="Закладка 3" 
    coords="302,27, 295,9, 293,6, 289,2, 283,1, 212,1, 206,2, 202,6, 203,9, 210,27, 211,32, 284,32, 303,32, 302,27" href="https://ru.wikipedia.org/wiki/3_(%D1%87%D0%B8%D1%81%D0%BB%D0%BE)">
    <area shape="poly" alt="Закладка 4" 
    coords="302,27, 303,32, 394,32, 393,27, 386,9, 382,3, 375,1, 303,1, 298,2, 293,6, 295,9, 302,27" 
    href="https://ru.wikipedia.org/wiki/4_(%D1%87%D0%B8%D1%81%D0%BB%D0%BE)">
  </map></p>
    <li><a href="./page1.html">относительная на страницу в текущем каталоге</a></li>
    <li><a href="./about/page2.html">относительная на страницу в каталоге about</a></li>
    <li><a href="../page3.html">относительную на страницу в каталоге уровнем выше текущего</a></li>
    <li><a href="../../page4.html">относительная на страницу в каталоге двумя уровнями выше</a></li>
    <li><a href="/">сокращенная на главную</a></li>
    <li><a href="/main1/main2/page1.html">сокращеннаяS ссылку на внутреннюю</a></li>
  
  <h2 id="form">Форма</h2>
  <form action="URL_отправки_данных"
    method="POST">
    <label>
      Имя<br />
      <input name="name"
        value="Антон Сергеевич"/>
    </label><br />

    <label>
      E-mail:<br />
      <input name="email"
        value="qwerty03441@gmail.com"
        type="email" />
    </label><br />

    <label>
      Дата рождения:<br />
      <input name="field-date"
        value="2001-10-28"
        type="date" />
    </label><br />

    Пол:<br />
    <label><input type="radio" checked="checked"
      name="gender" value="male" />
      мужской
    </label>
    <label><input type="radio"
      name="gender" value="female" />
      женский
    </label>
    Количество конечностей:<br />
    <label><input type="radio"
      name="limbs" value="0" />
     0
    </label>

    <label><input type="radio"
      name="limbs" value="1" />
      1
    </label>

    <label><input type="radio"
      name="limbs" value="2" />
      2
    </label> 

    <label><input type="radio" checked="checked"
      name="limbs" value="4" />
      4
    </label>

    <label><input type="radio"
      name="limbs" value="8" />
      8 
    </label>

    <label>
    	<input type="radio"
    	name="limbs" value="more than 8"/>
    	more than 8
    </label>

    <br />
    <label>
      Сверхспособности:
      <br />
      <select name="superpowers[]"
        multiple="multiple">
        <option value="immortality">Бессмертие</option>
        <option value="going_through_walls" selected="selected">Прохождение сквозь стены</option>
         <option value="invisibility" selected="selected">Невидимость</option>
        <option value="leviatation"> Левитация</option>
        <option value="instantTeleportation" selected="selected">Мгновенная телепортация</option>
      </select>
    </label><br />

    <label>
      Биография:<br />
      <textarea name="biography">Заинтересуйте нас</textarea>
    </label><br />

    <br />
    <label><input type="checkbox"
      name="contract" />
      С контрактом ознакомлен</label><br />
      <br/>
    
    <input type="submit" value="Отправить" />
  </form>
</body>
</html>


